<mat-card>
    <h1>Add New Category</h1>
    <mat-card-content>
     <div class="bootstrap-wrapper">
         <div class="row">
             <div class="col-md-10 offset-md-1">
                <form (ngSubmit)="formSubMit()">
                    <mat-form-field class="w100" appearance="outline">
        
                        <mat-label>Title</mat-label>
        
                        <input autofocus="" [(ngModel)]="cat.title" required type="text" name="title" matInput  placeholder="Enter your title">
        
                    </mat-form-field>

                    <mat-form-field class="w100" appearance="outline">
        
                        <mat-label>Description</mat-label>
        
                        <textarea [(ngModel)]="cat.desc" required type="text" name="desc" matInput  placeholder="Enter your Description" rows="15"></textarea>
        
                    </mat-form-field>
                    <div class="container text-center mt15">
                        <button mat-raised-button color="primary">Add</button>
                    </div>
                </form>
             </div>
         </div>
     </div>
    </mat-card-content>   
</mat-card>
