<mat-toolbar color="primary">
    <button  [routerLink]="'/'" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu_book</mat-icon>
    </button>
    <span>Pariksha</span>
    <span class="example-spacer"></span>
    <button *ngIf="!login.isLoggedIn()" [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        Login
    </button>
    <button *ngIf="!login.isLoggedIn()" [routerLink]="'/signup'"  mat-icon-button class="example-icon mr20 ml20" aria-label="Example icon-button with share icon">
      Register
    </button>
    <button  *ngIf="login.isLoggedIn()"   mat-icon-button class="example-icon mr20 ml20" routerLink="/admin/profile" aria-label="Example icon-button with share icon">
      {{ user.username }}
    </button>
     <button *ngIf="login.isLoggedIn()"  (click)="logoutUser()"   mat-icon-button class="example-icon mr20 ml20" aria-label="Example icon-button with share icon">
     LogOut
     </button>

  </mat-toolbar>
