<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <div class="col-md-6 offset-md-3">
              <mat-card>
                <div class="container text-center">
                    <img src="../../../assets/img/logo.png" style="height: 100px;  width: 100;" alt="">
                </div>
                <h1 class="text-center">Register Here !!</h1>

                <!-- {{user | json}} -->

                <form (ngSubmit)="formSubmit()">
                    <!-- Username field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Usernae</mat-label>
                        <input required [(ngModel)]="user.username" name="username" matInput placeholder="Enter here">
                        <mat-hint>User name must be unique</mat-hint>
                      </mat-form-field>

                      <!-- password field -->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input required [(ngModel)]="user.password" name="password" type="password" matInput placeholder="Enter here">
                        <mat-hint>******</mat-hint>
                      </mat-form-field>

                      <!-- first name -->

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input required [(ngModel)]="user.first_name" name="first_name" matInput placeholder="Enter here">
                        <mat-hint>Marten</mat-hint>
                      </mat-form-field>

                      <!-- last name -->

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>last Name</mat-label>
                        <input required [(ngModel)]="user.last_name" name="last_name" matInput placeholder="Enter here">
                        <mat-hint>Jack</mat-hint>
                      </mat-form-field>

                      <!-- email -->

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input required [(ngModel)]="user.email" name="email" type="email" matInput placeholder="Enter here">
                        <mat-hint>marten@gmail.com</mat-hint>
                      </mat-form-field>

                      <!-- phone number -->

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>phone no.</mat-label>
                        <input required [(ngModel)]="user.phone" name="phone"  type="tel" matInput placeholder="Enter here">
                        <mat-hint>1234567890</mat-hint>
                      </mat-form-field>

                      <div class="container text-center">
                          <button type="submit" mat-raised-button color="primary" >Register</button>
                          <button class="ml10" mat-raised-button color="accent" >Clear</button>
                      </div>
                </form>
              </mat-card>

            </div>
        </div>
    </div>
</div>
