<h1 class="mt20"> Questions of {{qtitle}}</h1>

<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <button mat-button [routerLink]="'/admin/add-question/' + qId+'/'+ qtitle">Add Questions</button>
            </div>
            <mat-card *ngFor="let q of question; let i=index" class="mt20">

               <mat-card-content>

                 <!-- <p>
                    <b>Q)</b> {{i+1}} <span class="ml20">{{q.content}}</span>
                 </p>     -->
                 <p>
                    <b>Q)</b> {{i+1}} <span class="ml20" [innerHtml]="q.content"></span>
                 </p>
                 <div class="container-fluid">
                     <div class="row">
                         <div class="col-md-6">
                             <p><b>1) </b>{{ q.option1}}</p>
                         </div>
                         <div class="col-md-6">
                            <p><b>2) </b>{{ q.option2}}</p>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                            <p><b>3) </b>{{ q.option3}}</p>
                        </div>
                        <div class="col-md-6">
                           <p><b>4) </b>{{ q.option4}}</p>
                       </div>
                    </div>
                    <mat-divider></mat-divider>
                    <p class="mt20"><b>Correct Answer is : </b>{{q.answer}}</p>
                 </div>

               </mat-card-content>

               <mat-card-actions>
                <button [routerLink]="'/admin/update-question/'+ q.id+'/'+qtitle"  mat-fab color="primary"><mat-icon>update</mat-icon>
                </button>
                   <button mat-fab color="warn" class="ml20" (click)="deleteQuestions(q.id)"><mat-icon>delete</mat-icon>
                   </button>
               </mat-card-actions>

            </mat-card>
        </div>
    </div>
</div>