.truncate
{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.example-header-image {
    background-image: url('/assets/img/exam.png');
    background-size: cover;
  }