
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6-offset-md-3">
                <mat-card style="margin-left: 300px;">
                <div class="container text-center">
                    <img src="../../../assets/img/logo.png" style="height: 100px;  width: 100;" alt="">
                </div>
                <h1 class="text-center">Login Here !!</h1>
                <form (ngSubmit)="formSubmit()">
                      <!-- Username field -->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input [(ngModel)]="loginData.username" required  name="username" matInput placeholder="Enter here">
                        <mat-hint>Valide User Name</mat-hint>
                      </mat-form-field>

                      <!-- password field -->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input [(ngModel)]="loginData.password" required  name="password" type="password" matInput placeholder="Enter here">
                        <mat-hint>******</mat-hint>
                      </mat-form-field>
                      <div class="container text-center" >
                          <button mat-raised-button color='primary' type="submit">Login</button>
                          <button class="ml10" mat-raised-button color='accent' >Reset</button>
                      </div>
                </form>
            </mat-card>
            </div>
        </div>
    </div>
</div>
