<div class="bootstarp-wrapper">
    <div class="row mt20">
        <div class="col-md-12">
            <h1>Adding Questions to {{TiTle}} </h1>
            <mat-card>
                
               <mat-card-header>
                   <mat-card-subtitle>
                       Enter the detail of the new question
                   </mat-card-subtitle>
               </mat-card-header>

               <mat-card-content>
                   <form *ngIf="update_question" (ngSubmit)="updateQuestions()">
                       <!--content field-->
                       <!-- <mat-form-field class="w100" appearance="fill">
                        <mat-label>Write question content</mat-label>
                        <textarea [(ngModel)]="update_question.content" required="" rows="8"  matInput placeholder="Enter Here" name="content" ></textarea>
                      </mat-form-field> -->
                      <ckeditor [(ngModel)]="update_question.content" [editor]="Editor"  data="<h1> Write your question </h1>" name="content" ></ckeditor>
                      <!--Options-->
                      <div class="row">
                          <div class="col-md-6">
                              <!--Option1-->
                              <mat-form-field class="w100" appearance="fill" >

                                <mat-label>Enter Option1</mat-label>
                                <input [(ngModel)]="update_question.option1" required="" type="text" matInput placeholder="Enter hear" name="Option1">

                              </mat-form-field>

                          </div>
                          <div class="col-md-6">
                              <!--Option2-->
                              <mat-form-field class="w100" appearance="fill">

                                <mat-label>Enter Option2</mat-label>
                                <input [(ngModel)]="update_question.option2" required="" type="text" matInput placeholder="Enter hear" name="option2" >

                              </mat-form-field>

                          </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                            <!--Option3-->
                            <mat-form-field class="w100" appearance="fill">

                                <mat-label>Enter Option3</mat-label>
                                <input [(ngModel)]="update_question.option3" required="" type="text" matInput placeholder="Enter hear" name="option3" >

                              </mat-form-field>

                        </div>
                        <div class="col-md-6">
                            <!--Option4-->
                            <mat-form-field class="w100" appearance="fill">

                                <mat-label>Enter Option4</mat-label>
                                <input [(ngModel)]="update_question.option4" required="" type="text" matInput placeholder="Enter hear" name="option4" >

                              </mat-form-field>
                            
                        </div>
                     </div>
                     <!--answer-->
                     <mat-form-field class="w100" appearance="fill" >
                        <mat-label>Select Answer</mat-label>
                        <mat-select [(ngModel)]="update_question.answer" name="answer" required="">

                          <mat-option *ngIf="update_question.option1" [value]="update_question.option1">{{update_question.option1}}</mat-option>
                          <mat-option *ngIf="update_question.option2" [value]="update_question.option2">{{update_question.option2}}</mat-option>
                          <mat-option *ngIf="update_question.option3" [value]="update_question.option3">{{update_question.option3}}</mat-option>
                          <mat-option *ngIf="update_question.option4" [value]="update_question.option4" >{{update_question.option4}}</mat-option>
                                                          
                        </mat-select>
                    </mat-form-field>
                    <div class="container text-center">
                        <button mat-raised-button color="primary">Update Questions</button>
                    </div>
                   </form>
               </mat-card-content>

            </mat-card>
        </div>
    </div>
</div>
<!-- {{question | json}} -->
