
<mat-card *ngFor="let q of quizzes" class="mt10 mr20 ml20" >
   <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
            {{q.title}}
        </mat-card-title>
        <mat-card-subtitle>
            {{q.category}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{q.desc}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button [routerLink]="'/admin/view-question/' + q.id +'/' + q.title" mat-flat-button color="primary">Question</button>
        <button mat-stroked-button color="primary" class="ml20">Max Marks: {{q.max_mark}}</button>
        <button mat-stroked-button color="primary" class="ml20">Number Of Question: {{q.number_of_question}}</button>
        <!-- <button mat-flat-button color="primary" class="ml20">Update</button> -->
        <button mat-flat-button color="primary" class="ml20"> Attempts</button>
        <button [routerLink]="'/admin/quiz/'+ q.id" mat-fab color="primary" class="ml100"><mat-icon>update</mat-icon>
        </button>

        <button mat-fab color="warn" class="ml20"(click)="deleteQuiz(q.id)"><mat-icon>delete</mat-icon>
         </button>
  </mat-card-actions>
  
</mat-card>
<div class="container text-center mt20">
    <button routerLink="/admin/add-quiz" mat-raised-button color="primary">Add New Quiz</button>
</div>